/* Start Global Rules */
:root {
    --main-color: #2196f3;
    --alt-main-color: #1787e0;
    --main-transition-duration: 0.3s;
    --section-padding: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Components */


.main-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #000;
    position: relative;
    z-index: 1;
    transition-duration: var(--main-transition-duration);
}

.main-title:hover {
    color: #fff;
    border: 2px solid #fff;
    transition-delay: .5s;
}


.main-title:before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:before {
    left: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move .5s linear forwards;
}

.main-title:after {
    right: -30px;
}


.main-title:hover::after {
    z-index: -1;
    animation: right-move .5s linear forwards;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-size: 30px;
    z-index: 1;
}

.dots {
    position: absolute;
    background-image: url('../images/dots.png');
    width: 204px;
    height: 186px;
    background-repeat: no-repeat;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

/* End Components */
/* Start Header */

.header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .logo {
    height: 72px;
    font-weight: bold;
    font-size: 26px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 40px;
    }
}

.header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin-left: auto;
        margin-right: auto;
    }
}

.header .main-nav>li>a {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #000;
    font-size: 17px;
    padding: 0 20px;
    overflow: hidden;
    transition-duration: var(--main-transition-duration);
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        height: 50px;
        font-size: 14px;
        padding: 10px;
    }
}

.header .main-nav>li>a::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition-duration: var(--main-transition-duration);
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

/* Show Megamenu */
.header .main-nav>li:last-of-type:hover .mega-menu {
    opacity: 1;
    z-index: 1;
    top: calc(100% + 1px)
}

/* Start Meaga Menu */
.header .mega-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    background-color: #fff;
    padding: 30px;
    z-index: -1;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        padding: 10px;
        gap: 0;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex-grow: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #fafafa;
    z-index: -1;
    transition-duration: var(--main-transition-duration);
}

.header .mega-menu .links li:hover ::before {
    width: 100%;
}

.header .mega-menu .links li a {
    display: block;
    color: var(--main-color);
    padding: 15px 20px 15px 0;
    font-weight: bold;
    font-size: 18px;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;

}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

/* End Megamenu */
/* End Header */
/* Start Landing */

.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ececec;
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-6deg);
}

.landing .container {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
    padding-bottom: var(--section-padding);
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}


.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2;
}

.landing .text p {
    font-size: 24px;
    line-height: 1.7;
    color: #666;
    margin-top: 6px;
    max-width: 500px;
}


@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}


.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

.landing .go-down:hover {
    color: var(--alt-main-color);
}

/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
    width: 100%;
}

.articles .box .content {
    padding: 20px;
    border-bottom: 1px solid #E6E6E7;
}

.articles .box .content p {
    margin-top: 10px;
    line-height: 1.5;
    color: #777;
}


.articles .box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--main-color);
}

.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}


/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
}

.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .box .image::before {
    content: "";
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.gallery .container .box:hover .image::before {
    animation: flashing .6s;
}

.gallery .container img {
    width: 100%;
    transition-duration: var(--main-transition-duration);
}

.gallery .container .box .image:hover img {
    transform: rotate(2deg) scale(1.1);

}

/* End Gallery */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #fff;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}

.features .box {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.features .box .image-holder {
    position: relative;
    overflow: hidden;
}



.features .box .image-holder::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.features .quality .image-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .time .image-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .passion .image-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .box .image-holder::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0px;
    border-width: 0px 0px 170px 500px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    transition-duration: var(--main-transition-duration);
}

.features .box:hover .image-holder::after {
    border-width: 170px 500px 170px 500px;

}

.features .box .image-holder img {
    width: 100%
}

.features .box h3 {
    font-size: 40px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.features .box h3::after {
    content: '';
    width: 80%;
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.features .quality h3::after {
    background-color: rgb(244 64 54);
}

.features .time h3::after {
    background-color: rgb(0 150 136);
}

.features .passion h3::after {
    background-color: rgb(3 169 244);
}

.features .box p {
    line-height: 2;
    margin: 30px 0;
    padding: 25px;
    font-size: 20px;
    color: #777;
}

.features .box a {
    display: block;
    font-size: 25px;
    padding: 10px 30px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    width: fit-content;
    margin: 0 auto 30px;
    border-radius: 5px;
    position: relative;
    transition-duration: var(--main-transition-duration);

}

.features .box:hover a {
    z-index: 1;
    color: #f1eeee;
    background-position: 0% 0%;
}


.features .quality a {
    color: rgb(244 64 54);
    border-color: rgb(244 64 54);
    background: linear-gradient(to right, rgb(244 64 54) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time a {
    color: rgb(0 150 136);
    border-color: rgb(0 150 136);
    background: linear-gradient(to right, rgb(0 150 136) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion a {
    color: rgb(3 169 244);
    border-color: rgb(3 169 244);
    background: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

.testimonials .box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 0 0 /.07);
    border-radius: 6px;
    position: relative;
}

.testimonials .box img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    top: -50px;
    border: 10px solid var(--section-background);
    border-radius: 50%;
}

.testimonials .box h3 {
    margin-bottom: 10px;
}

.testimonials .box .title {
    color: #777;
    display: block;
    margin-bottom: 10px;
}

.testimonials .box .rate .filled {
    color: #FFC107;
}

.testimonials .box p {
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
}

/* End Testimonials */
/* Start Team */
.team {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .box {
    padding-top: 60px;
    position: relative;
}

.team .box::before {
    content: '';
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 10px;
    background-image: linear-gradient(to left, #e4e4e4 50%, #f3f3f3 50%);
    background-size: 200% 100%;
    background-position: top left;
    z-index: -1;
    transition: var(--main-transition-duration);
}

.team .box:hover::before {
    background-position: top right;
}


.team .box .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition-duration: var(--main-transition-duration);
}

.team .box:hover .data img {
    filter: grayscale(100%);
}

.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .box .data .social a {
    /* padding: 15px; */
    color: #777;
    transition-duration: var(--main-transition-duration);
}

.team .box .data .social a:hover {
    color: var(--main-color);
}

.team .box .info {
    padding: 10px 0 25px 80px;
}

.team .box .info h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 20px;
    transition-duration: var(--main-transition-duration);
}


.team .box:hover .info h3 {
    color: #777;
}

.team .box .info p {
    color: #666;
}

/* End Team */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: #fff;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 13%);
    counter-increment: services;
    transition-duration: var(--main-transition-duration);
    position: relative;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box::before {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: var(--main-transition-duration);
}

.services .box:hover::before {
    width: 100%;
}

.services .container .box>i {
    display: block;
    margin: 40px auto 20px;
    text-align: center;
    color: #D5D5D5;
}

.services .container .box h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    color: var(--main-color);
}

.services .container .box .info {
    padding: 15px;
    text-align: right;
    background-color: #fff;
    position: relative;
}

.services .container .box .info::before {
    content: "0" counter(services);
    color: #fff;
    font-size: 30px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.services .container .box .info::after {
    content: '';
    width: 50px;
    height: calc(100% - 0.04px);
    background: #d5d5d5;
    position: absolute;
    left: 80px;
    top: 0;
    transform: skewX(-30deg);
}

.services .container .box .info a {
    color: var(--main-color)
}

/* End Services */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex-grow: 1;
}

.our-skills .skills .skill {
    margin-top: 30px;
}

.our-skills .skills .skill h3 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.our-skills .skills .skill h3 span {
    font-size: 12px;
    color: var(--main-color);
    background: white;
    padding: 3px 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.our-skills .skills .skill .the-progress {
    height: 30px;
    background: #eee;
    position: relative;
}

.our-skills .skills .skill .the-progress span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

/* End Skills */
/* Start Work Steps */
.work-steps {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
        gap: 50px;
    }
}

.work-steps .image {
    max-width: 100%;
}

.work-steps .info .box {
    display: flex;
    gap: 40px;
    background-color: #f6f5f5;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


@media (max-width: 991px) {

    .work-steps .info .box {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

.work-steps .info .box::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    transition-duration: var(--main-transition-duration);
    z-index: -1;
}

.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .info .box img {
    width: 70px;
}

.work-steps .info .box .content h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.work-steps .info .box .content p {
    line-height: 1.7;
    color: #777;
    font-size: 18px;
}

/* End Work Steps */
/* Start Events */
.events {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.events .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.events img {
    width: 400px;
}

@media (max-width: 991px) {
    .events img {
        display: none;
    }
}

.events .info {
    width: calc(100% - 450px);
    text-align: center;
    flex: 1;
}

.events .info .time {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 40px;
}


.events .info .time .unit {
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition-duration: var(--main-transition-duration);
}

.events .info .time .unit:hover {
    border-color: var(--main-color);

}

.events .info .time .unit span:first-child {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    padding: 12px;
    border-bottom: #ddd solid 1px;
    transition-duration: var(--main-transition-duration);
}

.events .info .time .unit:hover span:first-child {
    border-bottom-color: var(--main-color);

}

.events .info .time .unit span:last-child {
    padding: 8px 10px;
    font-size: 13px;
    color: #666;
}

.events .info .title {
    font-size: 30px;
    margin-bottom: 20px;
}

.events .info .description {
    font-size: 18px;
    color: #777;
    line-height: 1.7;
}

.events .subscribe {
    width: 100%;
}

.events .subscribe form {
    margin: 0 auto;
    background-color: #f6f5f5;
    width: 600px;
    max-width: 100%;
    padding: 30px 40px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events .subscribe form {
        flex-direction: column;
        border-radius: 0;
        padding: 20px;
    }
}

.events .subscribe input[type='email'] {
    background-color: #fff;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
    padding: 20px;
    border-radius: 50px;
}

.events .subscribe input[type='email']:focus {
    outline: none;
}

.events .subscribe input::placeholder {
    transition: var(--main-transition-duration);
}

.events .subscribe input[type='email']:focus::placeholder {
    opacity: 0;
}

@media (max-width: 767px) {
    .events .subscribe input[type='email'] {
        border-radius: 0;
    }
}

.events .subscribe input[type='submit'] {
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.events .subscribe input[type='submit']:hover {
    background-color: var(--alt-main-color);
}

@media (max-width: 767px) {
    .events .subscribe input[type='submit'] {
        border-radius: 0;
    }
}

/* End Events */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    background-color: #fff;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 0;
    background-color: #f6f6f6;
    z-index: -1;
    transition-duration: var(--main-transition-duration);
}

.pricing .box::before {
    top: 0;
    left: 0;
}

.pricing .box::after {
    bottom: 0;
    right: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}


@media (min-width: 1200px) {
    .pricing .popular {
        transform: translateY(-20px);
    }
}

.pricing .popular .label {
    position: absolute;
    top: 0;
    right: 20px;
    writing-mode: vertical-lr;
    font-weight: bold;
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 10px 30px 10px;
    font-size: 20px;
}

.pricing .popular .label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.pricing .box .title {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    letter-spacing: -1px;
}

.pricing .box img {
    width: 80px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pricing .box .price {
    text-align: center;
    margin: 30px 0;
}

.pricing .box .price .amount {
    font-size: 60px;
    display: block;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 5px;
}

.pricing .box .price .time {
    color: #777;
}

.pricing .box>ul>li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box>ul>li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .box>a {
    display: block;
    padding: 15px;
    margin: 30px auto;
    width: fit-content;
    color: var(--main-color);
    background: white;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    transition-duration: var(--main-transition-duration);
}

.pricing .box>a:hover {
    color: #fff;
    background-color: var(--main-color);
}

/* End Pricing */
/* Start Videos */
.videos {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.videos .holder {
    display: flex;
    border: 1px solid #eee;
    background-color: #e2e2e2;
}

@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .holder .list {
    background-color: #fff;
    min-width: 300px;
}

.videos .holder .list .name {
    padding: 20px;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.videos .holder .list>ul>li {
    padding: 20px;
    border-top: 1px solid #eee;
    cursor: pointer;

}

.videos .holder .list>ul>li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .holder .list>ul>li>span {
    display: block;
    color: #777;
    margin-top: 10px;
}

.videos .holder .preview {
    max-width: 100%;
    border: 1px solid #eee;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.videos .holder .preview img {
    width: 100%;
}

.videos .holder .preview .info {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
}

/* End Videos */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats>h2 {
    margin-bottom: 60px;
    font-size: 40px;
    position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    background-color: #fff;
    padding: 30px 15px;
    position: relative;
}

.stats .box::before,
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition-duration: calc(var(--main-transition-duration) * 2);
}

.stats .box::before {
    bottom: 0;
    left: 0;
}

.stats .box::after {
    top: 0;
    right: 0;

}

.stats .box:hover::after,
.stats .box:hover::before {
    height: 100%;
}

.stats .box i {
    font-weight: bold;
}

.stats .box .number {
    display: block;
    font-weight: bold;
    font-size: 50px;
    margin: 10px;
}

.stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

/* End Stats */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
}


@media (max-width: 991px) {
    .discount {
        flex-direction: column;
    }
}

.discount .image {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}


.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}


.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form .input:focus {
    outline: none;
}

.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}

.discount .content {
    text-align: center;
    padding: 30px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

/* End Discount */
/* Start Footer */

.footer {
    background-color: #191919;
}

.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 767px) {
    .footer .container {
        text-align: center;
    }
}

.footer .box {
    flex: 1 0 250px;
}

.footer .box>h3 {
    color: #FFF;
    font-size: 50px;
    margin-bottom: 20px;
}

.footer .box>.social {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .footer .box>.social {
        justify-content: center;
    }
}

.footer .box>.social>li>a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #B9B9B9;
    background-color: #313131;
    font-size: 20px;
    transition-duration: var(--main-transition-duration);
}

.footer .box>.social .facebook:hover {
    background-color: #1877f2;
}

.footer .box>.social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box>.social .youtube:hover {
    background-color: #ff0000;
}

.footer .box>.text {
    color: #b9b9b9;
    margin-top: 20px;
    line-height: 2;
}

.footer .box>.links>li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box>.links>li>a {
    display: block;
    color: #b9b9b9;
    padding: 15px 0;
    transition-duration: var(--main-transition-duration);
}

.footer .box>.links>li>a::before {
    font-family: 'Font Awesome 5 Free';
    content: '\F101';
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box>.links>li>a:hover {
    color: #fff;
    transform: translateX(10px);
}

.footer .box>.line {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box>.line {
        flex-direction: column;
    }
}

.footer .box>.line>i {
    color: var(--main-color);
    font-size: 25px;
}

.footer .box>.line>.info {
    color: #b9b9b9;
    line-height: 1.7;
    flex: 1;
}

.footer .box>.line>.info>span {
    display: block;
}

.footer .footer-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 5px;
}

.footer .footer-gallery>img {
    display: block;
    border: 3px solid white;
    width: 80px;
}

.footer .copyright {
    text-align: center;
    padding: 20px;
    color: #fff;
    border-top: 1px solid #444;
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes background {

    0%,
    100% {
        background-image: url('../images/discount-background1.jpg');
    }

    50% {
        background-image: url('../images/discount-background2.jpg');
    }
}

/* End Animation */